@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Loader Indicator ===== */

.load {
  display: block !important;
  margin: "0 auto";
  border: 16px solid #0d39552b;
  border-radius: 50%;
  border-top: 16px solid #0e0e0f5f;
  width: 150px;
  height: 150px;
  -js-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-js-keyframes spin {
  0% {
    -js-transform: rotate(0deg);
  }
  100% {
    -js-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%); /* Offscreen to right */
  }
  to {
    transform: translateX(0%); /* On screen */
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}

/* ===== close ===== */
.cross-icon {
  position: absolute;
  top: 10%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 28px;
  color: #070127;
  z-index: 60;
}

/* ===== scroll bar for windows OS ===== */

.custom-scrollbar {
  scrollbar-color: lightgray lightgray;
}

/* For Webkit browsers like Chrome and Safari */
.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 10px;
}

/* ===== Header Navigation ===== */

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 50px;
  background-color: #1893f8;
  transition: width 0.3s ease;
}

.nav-link.active::after {
  width: 100%;
}

/* ===== Destinations Grid ===== */

.img-hover-zoom {
  height: auto;
  position: relative;
  overflow: hidden;
}

.img-hover-zoom img {
  vertical-align: middle;
  margin: 0;
  padding: 0;
  border: 0;
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.img-overlay {
  position: absolute;
  top: 8%;
  left: 29%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* ===== Personal Details ===== */

.dob-container > div:nth-child(2) {
  flex: 1;
}

.dob-container .react-datepicker__input-container {
  display: flex;
}

.dob-container .react-datepicker__input-container > input {
  flex: 1;
}

/* ===== Hotel Room Details ===== */

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  background-color: #002248;
  color: #ffffff !important;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #ffffff;
  color: #002248 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important;
}

/* ===== Date Selector ===== */

.react-datepicker {
  border: 1px solid #d4d4d4 !important;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
    0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
}

.react-datepicker__header {
  border-bottom: 1px solid #d4d4d4 !important;
}

.react-datepicker-popper {
  top: -66px !important;
}

.react-datepicker-popper .react-datepicker {
  border-radius: 1rem;
  overflow: hidden;
}

.react-datepicker__day--in-range {
  background-color: #1893f8 !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: rgba(24, 147, 248, 0.5) !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* Default styles for larger screens */
.react-datepicker__month-container {
  width: 450px;
}

/* Media query for screens with a maximum width of 600px (adjust as needed) */
@media (max-width: 600px) {
  .react-datepicker__month-container {
    width: 260px;
  }
}

.react-datepicker__month {
  background-color: #ffffff !important;
}

.react-datepicker__header {
  background-color: #f8f8f8 !important;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
}

.react-datepicker__day,
.react-datepicker__day-name {
  flex: 1;
}

.react-datepicker__day.custom-react-datepicker-day {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .react-datepicker__day.custom-react-datepicker-day {
    height: 30px; /* Adjust the height for smaller screens */
  }
}

.react-datepicker__close-icon::after {
  background-color: #ffffff !important;
  color: #002248 !important;
  font-size: 20px !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* HOTEL DETAILS RANGE SLIDER */

@layer components {
  input[type="range"] {
    @apply appearance-none bg-transparent;
    @apply accent-blue-400;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    @apply bg-black/10 rounded-full;
  }

  input[type="range"]::-moz-range-track {
    @apply rounded-full bg-black/10;
  }

  input[type="range"]::-ms-track {
    @apply rounded-full bg-black/10;
  }
}


.footer-start {
  position: relative;
  width: 80%;
  max-width: 1280px;
  margin: auto;
  background: #1893f8;
  justify-content: space-between;
  align-items: center;
  padding: 53px 73px;
  border-top-right-radius: 126px;
}
.footer {
  display: block;
  width: 100%;
  position: relative;
}

.start-learning {
  position: absolute;
  left: 0;
  top: -86px;
  right: 0;
}


@media screen and (max-width: 1024px) {
  .start-learning {
    top: -78px;
  }
}

@media screen and (max-width: 480px) {
  .start-learning {
    padding-left: 5px;
    padding-right: 5px;
  }
  .footer-start {
    width: 100%;
  }
}

@media screen and (max-width: 580px) {
  .footer-start {
    padding: 23px 17px;
  }
}

.css-1demtxk{
  background-color: #1893f8 !important;
}